services:
  postgres-18:
    image: postgres:18
    container_name: postgres-18
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-1234567890}
    ports:
      - "5432:5432"
    volumes:
      - postgres_18_gravis_data:/var/lib/postgresql

  gravis-server:
    image: rajraiyani/gravis-server:latest
    pull_policy: always
    depends_on:
      - postgres-18
    container_name: gravis-server
    ports:
      - "3007:3007"
    env_file:
      - ./.env
    volumes:
      # Persist file uploads
      - ./files:/app/files
      - ./logs:/app/logs
      - ./tmp:/app/tmp

volumes:
  postgres_18_gravis_data:
    driver: local
