services:
  gravis-server:
    image: rajraiyani/gravis-server:latest
    pull_policy: always
    container_name: gravis-server
    ports:
      - "3007:3007"
    env_file:
      - ./.env
    volumes:
      # Persist file uploads
      - ./files:/app/files
      - ./logs:/app/logs
      - ./tmp:/app/tmp
    command: sh -c "npx dbmate up && npm run start"
